In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv('output41.csv')
df.head()

   size  p   runtime
0   100  1  0.161060
1   100  1  0.160765
2   100  1  0.160893
3   100  2  0.081979
4   100  2  0.080884

In [36]:
df2 = df.copy()

In [42]:
df_hund = df2[:21].copy(deep=True)
df_thou = df2[21:].copy(deep=True)
df_thou.index = [i for i in range(len(df_thou))]
df_hund.index = [j for j in range(len(df_hund))]

In [43]:
df.loc[0, 'runtime']

0.16106

In [45]:
th_dic = {
    'p':[],
    'runtime':[]
}
hun_dic = th_dic

In [50]:
def minimization(data,dt_dict):
    for i in range(0,len(data),3):
        dt_dict['p'].append(data.loc[i,'p'])
        dt_dict['runtime'].append(min(data.loc[i:i+3,'runtime']))
    return pd.DataFrame(dt_dict, index=dt_dict['p'])

minimization(df_hund,th_dic)

     p   runtime
1    1  0.161060
2    2  0.081979
4    4  0.040902
8    8  0.020812
16  16  0.011043
24  24  0.007865
32  32  0.007789
1    1  0.161060
2    2  0.081979
4    4  0.040902
8    8  0.020812
16  16  0.011043
24  24  0.007865
32  32  0.007789
1    1  0.081979
2    2  0.040902
4    4  0.020812
8    8  0.011043
16  16  0.007865
24  24  0.007789
32  32  0.011866

In [49]:
list(range(0,21,3))

[0, 3, 6, 9, 12, 15, 18]